.home{
    background-color: #4A4E69;
    font-family: 'Signika Negative', sans-serif;
}


.intro{
    height: 120vh;
    background-color: #4A4E69;
    padding: 100px 0;
    color: #F2E9E4;
}

.intro-heads-container{
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    align-items: center;
}



.about-me,.projects, .contact{
    padding: 80px 150px;
    color: #F2E9E4;
    
}

.intro h1{
    font-size: 100px;
    font-family: 'Russo One'
}

.intro-heads{
    padding: 20px;
}

.find-more{
    text-align: right;
    margin: 200px 0;
    cursor: pointer;
    text-decoration: none;
}


.about-me h2{
    margin: 20px 0;
    font-size: 40px;
}
.about-me p{
    font-size: x-large;
}

.samPic{
    width: 300px;
    border-radius: 50%;
   
}


.about-me, .projects, .intro{
    margin: 0 50px;
    border: 0 0 2px 0;
    border-color: #515470;
    border-style: none none solid none;
}

.theProjectContainer{
    display: flex;
    
}

.aProject{
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    width: 50%;
    height: 100%;
    padding: 20px;
    margin: 20px;
    background-color: #22223b4a;
    
}


.picContainer{
    overflow: hidden;
}


.projects h2{
    margin: 20px 0;
    font-size: 40px;
}

.marvelWebPic{
    width: 100%;
    transition: .8s ease;
    cursor: pointer;
}

.marvelWebPic:hover{
    transform: scale(1.1);
}

.contact{
    background-color: #22223B;
}

.contact h2{
    margin: 20px 0;
    font-size: 40px;
}

.socail-icon{
    cursor: pointer;
    transition: transform .7s ease-in-out;
    margin: 20px;
    width: 80px;
}
.socail-icon:hover{
    transform: rotate(360deg);
}

.social-icon-container{
    text-align: center;
}


  @media only screen and (max-width: 1100px) {
    
    

    
    .intro h1{
        font-size: 80px;
       
    }
    .intro-heads {
        font-size: 15px;
        
    }
    
    .intro-heads-container{
        display: block;
        align-items: center;
        text-align: center;
        margin: 50px 0;
    }
    
    .find-more{
        text-align: center;
        margin: 50px
        
    }

    .samPic{
        width: 30%;
        margin: 20px;
    }
    

   

    .about-me p{
        font-size: 25px;
    }

    .picBox{
        margin: 0 20px;
    }

    .contact h2{
        margin: 20px 0;
        font-size: 30px;
    }
    
    .socail-icon{
        cursor: pointer;
        width: 80px;
    }

    .social-icon-container{
        text-align: center;
    }
    
    
  }
  
  @media only screen and (max-width: 980px) {
    


    .intro,.about-me,.projects, .contact{
        padding: 40px;
        
        
    }

    .intro-heads-container{
        margin: 100px 0;
    }

    .intro h1 {
        font-size: 60px;
        
    }

    .samPic{
        width: 40%;
        
    }
    
    .projects{
        display: inline-block;
    }
    
    .aProject{
        margin: 20px 0;
    }


    .intro-heads {
        font-size: 15px;
        margin: 5px 0;
    }
    
    .about-me p{
        font-size: 20px;
    }

    
    .theProjectContainer{
        display: inline-block;
    }

    .aProject{
        
        width: 100%;
        
    }

    .socail-icon{
    
        width: 50px;
    }

  }

  @media only screen and (max-width: 600px) {
    

    .about-me p{
        font-size: 15px;
        margin: 30px 0;
    }

    .intro,.about-me,.projects, .contact{
        padding: 20px;
        
        
    }

    .projects{
        text-align: ce;
    }


  }

  @media only screen and (max-width: 430px) {
    

    .about-me p{
        font-size: 15px;
    }

    .intro,.about-me,.projects, .contact{
        padding: 5px;
        
    }

    .intro h1{
        font-size: 40px;
    }

    .intro-heads{
        padding: 0;
        
    }

    .samPic{
        width: 250px;
        margin: 100px 0;
    }

    .intro-heads-container{
        margin: 150px 0;
    }

    .find-more{
        text-align: center;
        margin: 50px 0;
        font-size: 15px;
    }

    .socail-icon{
    
        width: 30px;
    }

     .intro h2, .about-me h2, .projects h2, .contact h2{
        font-size: 20px;
    }

    .about-me{
        margin: 10px;
    }

    .projects{
        
        margin: 20px;
        
    }

    .contact{
        padding: 20px 20px;
    }

    .contact h2{
        margin: 0;
    }
    

  }

  @media only screen and (max-height: 650px) {


    .about-me p{
        font-size: 12px;
    }
  }