.home{
    background-color: #4A4E69;
    font-family: 'Signika Negative', sans-serif;
}


.intro,.about-me,.projects, .contact{
    padding: 150px;
    color: #F2E9E4;
    
}

.intro h1{
    font-size: 100px;
    font-family: 'Russo One'
}


.about-me h2{
    margin: 20px 0;
    font-size: 40px;
}

.about-me, .projects, .intro{
    margin: 0 50px;
    border: 0 0 2px 0;
    border-color: #515470;
    border-style: none none solid none;
}

.theProjectContainer{
    display: flex;
    
}

.aProject{
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    width: 50%;
    height: 100%;
    padding: 20px;
    margin: 20px;
    background-color: #22223b4a;
    
}


.picContainer{
    overflow: hidden;
}


.projects h2{
    margin: 20px 0;
    font-size: 40px;
}

.marvelWebPic{
    width: 100%;
    transition: .8s ease;
    cursor: pointer;
}

.marvelWebPic:hover{
    transform: scale(1.1);
}



.contact h2{
    margin: 20px 0;
    font-size: 40px;
}

.socail-icon{
    cursor: pointer;
}