*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.App{
  border-width: 30px;
  border-color: #9A8C98;
  border-style: none solid none solid;
}

a{
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 700px) {

  .App{
    border-width: 20px;
  }

}

@media only screen and (max-width: 500px) {

  .App{
    border-width: 10px;
  }

}
@media only screen and (max-width: 400px) {

  .App{
    border-width: 5px;
  }

}