*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.App{
  border-width: 30px;
  border-color: #9A8C98;
  border-style: none solid none solid;
}

a{
  text-decoration: none;
  color: inherit;
}